body {
  background: url(../img/Bg.jpg) center center/cover no-repeat;
  font-family: "Belgrano", serif;
  font-family: "Space Grotesk", sans-serif;
  color: white;
}

.container {
  margin: 0 auto;
  margin-top: 60px;
  padding: 0;
  max-width: 1640px;
  width: 90%;
}
.search-box {
  position: relative;
  max-height: 56px;
  margin-bottom: 8px;
  padding: 16px 32px;
}
.search-box::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  padding: 1px;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.38),
    rgba(255, 255, 255, 0)
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}

.search-input {
  border: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding-left: 20px;
  outline: none;
  width: 90%;
}
.search-icon {
  width: 19px;
}
#current-location-icon:hover {
  cursor: pointer;
}

.weather-section {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}
.image-section {
  text-align: right;
}
.half-section {
  width: 776px;
}
.today-weather {
  height: 550px;
  margin: 0 auto;
  flex-direction: column;
}
.main-info {
  position: relative;
  background-color: rgba(217, 217, 217, 0.07);
  border-radius: 8px;
  height: 361px;
  padding: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-info::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  padding: 1px;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.38),
    rgba(255, 255, 255, 0)
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}
.main-info .text-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-info .image-section {
  width: 350px;
  padding-top: 40px;
  text-align: center;
}
.city {
  font-size: 32px;
  font-weight: 400;
  line-height: 41px;
}
.current-date {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin-top: 8px;
}
.temperature-section {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  gap: 4px;
  width: 350px;
}
.temperature-section .temperature {
  font-weight: 500;
  font-size: 80px;
  line-height: 94px;
  height: 91px;
  min-width: 130px;
}
.scale-switcher {
  width: 156px;
  height: 91px;
  border-radius: 8px;
  background-color: rgba(217, 217, 217, 0.07);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
.scale {
  text-align: center;
  width: 77px;
}
.scale-link {
  color: rgba(255, 255, 255, 0.3);
  font-size: 80px;
  font-weight: 400;
  line-height: 90px;
  text-decoration: none;
}
.scale-link:hover {
  color: rgba(255, 255, 255, 0.3);
  cursor: unset;
}

.turned-off {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
}
.turned-off .scale-link {
  color: #fffffe;
  font-weight: 500;
}
.turned-off .scale-link:hover {
  cursor: pointer;
}

.description {
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  width: 290px;
}

.description::first-letter {
  text-transform: uppercase;
}
.properties {
  margin: 0 auto;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.properties .box {
  position: relative;
  background-color: rgba(217, 217, 217, 0.07);
  border-radius: 8px;
  height: 181px;
  width: 100%;
  padding: 16px 16px 24px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.properties .box::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  padding: 1px;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.38),
    rgba(255, 255, 255, 0)
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.properties .text-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.properties img {
  width: 96px;
}
.property {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.property-value {
  font-size: 24px;
  font-weight: 500;
  line-height: 31px;
}

.forecast {
  margin-top: 64.6px;
  width: 396px;
}
.forecast-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}
.week-day {
  width: 396px;
  height: 85px;
  background-color: rgba(217, 217, 217, 0.07);
  border-radius: 8px;
  padding: 8px 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.forecast .weather-image {
  width: 108px;
  height: 69px;
}

.forecast .day {
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  position: relative;
  top: 10px;
}
.forecast .date {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  position: relative;
  top: 10px;
}
.forecast .temp {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  position: relative;
  top: 14px;
}
.coded-by {
  text-align: right;
  width: 1180px;
}
.github-link {
  color: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  font-weight: 400;
  line-height: 50px;
  text-decoration: none;
}
.github-link:hover {
  color: rgb(45, 51, 87);
}

@media (max-width: 1200px) {
  .coded-by {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .half-section {
    min-width: 540px;
  }
  .main-info {
    height: 350px;
  }
  .main-info .text-section {
    max-width: 250px;
  }
  .city {
    font-size: 28px;
    line-height: 36px;
  }
  .current-date,
  .description {
    font-size: 16px;
    line-height: 19px;
  }
  .image-section img {
    max-width: 100%;
    height: auto;
  }
  .temperature-section {
    max-width: 270px;
  }
  .temperature-section .temperature {
    font-size: 60px;
    line-height: 80px;
    min-width: 100px;
  }
  .scale-switcher {
    width: 112px;
    height: 78px;
  }
  .scale-link {
    font-size: 68px;
    line-height: 82px;
  }
  .properties .box {
    max-width: 220px;
    height: 160px;
    padding: 12px 12px 18px 18px;
  }
  .properties .property-value {
    font-size: 16px;
    line-height: 16px;
  }
  .properties img {
    margin-top: 10px;
  }
  .coded-by {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .container,
  .forecast {
    margin-top: 40px;
  }
  .half-section {
    min-width: 346px;
    height: 410px;
  }
  .search-box {
    padding: 9px 20px;
  }
  .search-icon {
    width: 12px;
  }
  .search-input {
    font-size: 14px;
    padding-left: 9px;
  }
  .today-weather {
    height: 360px;
  }
  .main-info {
    height: 264px;
    padding: 22px;
  }
  .main-info .text-section {
    max-width: 164px;
  }

  .main-info .image-section {
    max-width: 228px;
  }
  .temperature-section {
    max-width: 184px;
  }

  .temperature-section .temperature {
    font-size: 42px;
    line-height: 60px;
    min-width: 68px;
    height: 56px;
  }
  .scale-switcher {
    width: 94px;
    height: 54px;
  }
  .scale-link {
    font-size: 48px;
    line-height: 56px;
  }
  .city {
    line-height: 30px;
  }
  .current-date,
  .description,
  .property,
  .property-value {
    font-size: 14px;
    line-height: 16px;
  }
  .properties .box {
    height: 86px;
    padding: 8px 12px;
  }
  .forecast,
  .week-day {
    max-width: 346px;
  }
  .week-day {
    padding: 6px 20px;
  }

  .coded-by {
    margin-bottom: 20px;
  }
}
