body {
  background: url(../img/Bg.jpg) center center/cover no-repeat;
  font-family: "Belgrano", serif;
  font-family: "Space Grotesk", sans-serif;
  color: white;
}

.container {
  max-width: 1640px;
  width: 90%;
  margin: 60px;
  padding: 0;
}
.image-section {
  text-align: right;
}
.search-box {
  margin-bottom: 8px;
  padding: 16px 32px;
  max-width: 776px;
  max-height: 56px;
  border-radius: 8px 8px 8px 8px;
  border: 1px solid;
  border-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.38),
    rgba(255, 255, 255, 0)
  );
  border-image-slice: 9;
}

.search-input {
  border: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.7);
  margin-left: 30px;
  width: 86%; /*fix*/
}
.search-icon {
  width: 19px;
}
#current-location-icon:hover {
  cursor: pointer;
}

.weather-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 8px;
}
.half-section {
  width: 776px;
}
.today-weather {
  min-width: 776px;
  width: 100%;
  margin: 0 auto;
  height: 550px;
  flex-direction: column;
}
.main-info {
  width: 100%;
  margin: 0 auto;
  height: 361px;
  background-color: rgba(217, 217, 217, 0.07);
  border-radius: 8px;
  padding: 32px;
}
.main-info .weather-image {
  width: 331px;
  height: 220px;
  position: relative;
  bottom: 180px;
  left: -10px;
}
.location-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 164px;
}
h1 {
  display: inline;
  margin: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 41px;
}
p.today-date {
  margin-top: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.7);
}
.temperature-section {
  position: relative;
  top: 90px;
  width: 350px;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  gap: 4px;
}
.temperature-section .temperature {
  font-weight: 500;
  font-size: 80px;
  line-height: 102px;
  width: 130px;
  height: 91px;
}
.temperature-section .scales {
  width: 156px;
  height: 91px;
  border-radius: 8px;
  background-color: rgba(217, 217, 217, 0.07);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
a {
  color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
}
a:hover {
  color: rgba(255, 255, 255, 0.3);
  cursor: unset;
}
.scale {
  text-align: center;
  width: 77px;
}

.turned-off {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
}
.turned-off a {
  font-weight: 500;
  color: #fffffe;
}
.turned-off a:hover {
  cursor: pointer;
}
.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.7);
  width: 280px;
}

.properties {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  margin-top: 8px;
  gap: 8px;
}
.properties .box {
  width: 99%;
  height: 181px;
  background-color: rgba(217, 217, 217, 0.07);
  border-radius: 8px;
  padding: 16px 16px 24px 24px;
}
.properties img {
  width: 100px;
  position: relative;
  top: -30px;
}
.properties .property {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.properties .property-value {
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  position: relative;
  top: 90px;
}

.forecast {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 396px;
  margin-top: 64.6px;
  gap: 8px;
}
.forecast .week-day {
  width: 396px;
  height: 85px;
  background-color: rgba(217, 217, 217, 0.07);
  border-radius: 8px;
  padding: 8px 32px;
}
.forecast .weather-image {
  width: 108px;
  height: 69px;
  position: relative;
  top: -48px;
}

.forecast .day {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.7);
  position: relative;
  top: 10px;
}
.forecast .date {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  position: relative;
  top: 10px;
}
.forecast .temp {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  top: 14px;
}
